.titulo1 {
    font-size: 70px;
}

.titulo2 {
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.fotoE1, .fotoE2 {
    margin-bottom: 3%;
    width: 55%;
    height: auto;
}

h4 {
    color: maroon;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8 {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}

.titulo3 {
    color: maroon;
    margin-bottom: 20px;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}

.left, .right {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}


@media screen and (max-width: 800px) {
    .titulo1 {
        font-size: 40px; 
    }

    .titulo2 {
        font-size: 16px;
    }

    .fotoE1, .fotoE2 {
        width: 80%; 
    }

    .container {
        flex-direction: column; 
        height: auto; 
    }

    .left, .right {
        width: 100%; 
    }
}

@media screen and (max-width: 500px) {
    .titulo1 {
        font-size: 30px; 
    }

    .titulo2 {
        font-size: 14px; 
    }

    .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8 {
        font-size: 14px; 
    }
}