/*PAGE ENTREVISTAS*/

.entrevista1 {
    color: maroon;
    padding: 0 5%; 
}

.foto1 {
    margin-bottom: 03%;
}

.titulo1 , .titulo2 {
    margin-bottom: 03%;
    text-align: center;

}

.p1 { margin-bottom: 03%;


}