#main {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    gap: 20px;

}

#main .titulo1 {
    font-size: 30px;
}

#main .titulo2 {color: maroon;
    font-size: 30px;
    margin-top: 05px;
    margin-bottom: 20px;
}

.fotoportada {
    margin-top: 10px;
    margin-bottom: 10px;
}

.p1, .p2 { text-align: center;

}
