/* PAGE MERCH */
.img { display:flex;
    justify-content:space-around 3px;
    align-items:normal;
    max-height: 90%;
    max-width: 90%;
    padding: 0% 0%;
    margin: 0 0%;
    box-sizing: border-box;

    } 